<% content_for(:title, "Contacts | Wikipages") %>

<h1 class="page-header">Contacts</h1>

<ul>
	<% @contacts.each do |contact| %>
		<li><a href='/contacts/<%= contact.id %>'><%= contact.name %></a></li>
	<% end %>
</ul>

<%= link_to "New contact", new_contact_path, :class => "btn btn-default" %>